#root {
  padding: 2rem;
  text-align: center;
  height: 80vh;
  max-height: 100vh;
  background-color: #242424;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
}

.home-grid-link {
  font-size: 2rem;
  cursor: pointer;
}