#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
}

.home-grid-link {
  font-size: 2rem;
  cursor: pointer;
}