@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @apply bg-slate-900 h-dvh w-dvw box-border;
  font-family: 'Inter';
  padding: 0 10% 0 10%;
  min-height: 300px;
}

h1 {
  font-weight: 600;
  @apply tracking-wide;
}

h2 {
  font-weight: 300;
}

li, p {
  font-weight: 300;
}