@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  @apply bg-black text-zinc-100;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  @apply tracking-tight;
  font-weight: 600;
}

h2 {
  font-weight: 300;
}

li,
p {
  font-weight: 300;
}
